@page
@model Inventory_Management.Pages.AssetDetailsModel

@{
    ViewData["Title"] = "Asset Details";
}

<h1>Asset Details</h1>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.AssetNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssetNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.PurchasedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.PurchasedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.DiscardedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.DiscardedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.AssignedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssignedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.LastReturnedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.LastReturnedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.AssetType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssetType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Asset.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
