@page
@model Inventory_Management.Pages.StaffDetailsModel

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.StaffNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.NationalIdentificationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.NationalIdentificationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staff.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
